/* Global variables. */
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;

  /* Color themes: https://catppuccin.com/palette */

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    color-scheme: dark;
    --bg: #1e1e2e; /* Base */
    --accent-bg: #181825; /* Mantle */
    --text: #cdd6f4; /* Text */
    --text-light: #bac2de; /* Subtext1 */
    --border: #6c7086; /* Overlay0 */
    --accent: #cba6f7; /* Mauve */
    --accent-hover: #cba6f7; /* Mauve */
    --accent-text: #fab387; /* Peach */
    --code: #a6adc8; /* Subtext0 */
    --preformatted: #a6adc8; /* Subtext0 */
    --shadows: rgb(186, 194, 222, 0.5); /* Subtext1; same as --text-light */
    --disabled: #11111b; /* Crust */
  }
  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* Global elements -------------------------------------------------- */

body {
  font-size: 1rem;
}

nav {
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--accent-hover);
}

p {
  margin: 0.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--accent-text);
}

aside, details, pre, progress {
  border: 0;
}

/* Article -------------------------------------------------- */
article {
  border: 0;
  margin: 0;
  padding: 0;
}

.article-link {
  border-bottom: 1px solid var(--border);
  padding: 0.5rem 0;
}
.article-link:last-child {
  border-bottom: 0;
}
.article-link img {
  display: block;
  margin-left: auto;
  text-align: right;
  width: 25%;
}
.article-link .excerpt {
  color: var(--text-light);
  text-align: right;
}

#article-body figure {
  background-color: var(--accent-bg);
  border-radius: var(--standard-border-radius);
  padding: 1rem;
}


/*  Coding */
/* pre {
  box-shadow: 0 0.5rem 1rem -0.75rem inset var(--text), 0 -1.5rem 1rem -0.75rem inset var(--text) !important;
} */


/* Footer -------------------------------------------------- */
body > footer {
  border-width: 7px 0 0 0;
  border-style: double;
  border-color: var(--border);
}

#footer-home {
  margin-top: -3.9rem;
}
#footer-home img {
  background-color: var(--bg);
  opacity: unset;
}

/* Custom classes -------------------------------------------------- */

.muted {
  color: #555;
}
.sm {
  font-size: 75%;
}
.xs {
  font-size: 40%;
}