<figure>
    <img src="{{ include.src | prepend: site.content-images-path | prepend: site.baseurl | prepend: site.url }}" {% if
        include.width %} width="{{ include.width }}" {% endif %}{% if include.height %} height="{{ include.height }}" {%
        endif %} alt="{{ include.alt }}">
    <figcaption><a
            href="{{ include.src | prepend: site.content-images-path | prepend: site.baseurl | prepend: site.url }}"
            target="_blank"><i class="fas fa-search-plus me-1"></i>Enlarge</a> — {{
        include.alt }}</figcaption>
</figure>