<div class="article-link">
    <p>
        <a href="{{ include.post.url }}" title="{{ include.post.title }}">{{ include.post.title }}</a><span class="muted"> / {{ include.post.date | date: "%b %Y" }}</span>
        <div class="excerpt">
            {{ include.post.excerpt }}
            {% if include.post.banner_img %}
            <img src="{{ include.post.banner_img | prepend: site.content-images-path | prepend: site.baseurl | prepend: site.url }}"
            alt="Banner image for {{ include.post.title }}" />
            {% endif %}
            
        </div>
        <p>
            
        </p>
    </p>
</div>