<a href="/" title="Home">Home 🏠</a>
<a href="/life-stuff" title="Life stuff">Life stuff ☕</a>
<a href="/technology" title="Technology">Technology 🛸</a>
<a href="/video-games" title="Video Games">Video Games 🕹️</a>
<a href="/books" title="Books">Books 📖</a>
<a href="/photos" title="Photos">Photos 📖</a>
<a href="/about" title="About Me">About Me 🙌</a>
<a href="/feed.xml" title="Subscribe!">Subscribe! 🔔</a>