<div class="bar-secondary">
    <a href="https://{{ include.post-num | prepend: site.content.blog_tinyurl_prefix }}">{{ include.post-num | prepend:
        site.content.blog_tinyurl_prefix }}</a>
    —
    <a href="{{ cat.href }}">{{ include.cat }}</a>
    —
    <a href="{{ page.path | prepend: site.content.blog_source_prefix }}" target="_blank">View source</a>
    —
    <span class="text-muted">
        <time datetime="{{ include.post-date | date_to_xmlschema }}" itemprop="datePublished">
            <span class="badge-date">{{ include.post-date | date: "%b %Y" }}</span>
        </time>
    </span>
</div>