<div class="row row-cols-1 row-cols-md-4 g-3">
    <div class="col">
        <a class="align-middle w-100 text-dark btn px-1 py-2 btn-success" rel="me" href="https://us6.list-manage.com/contact-form?u=768b89007e44f7f05c5e7539b&form_id=6eae4dbf8e9d1475f967c8447e3080ac" title="Email" target="_blank"><i class="fas fa-at mx-2"></i>Email</a>
        //
        <a class="align-middle w-100 text-dark btn px-1 py-2 btn-success" rel="me" href="https://nz.linkedin.com/in/ayush-sharma-in" title="LinkedIn" target="_blank"><i class="fab fa-linkedin-in mx-2"></i>LinkedIn</a>
        //
        <a class="align-middle w-100 text-dark btn px-1 py-2 btn-success" rel="me" href="https://mastodon.nz/@ayushsharma22" title="Mastodon" target="_blank"><i class="fab fa-mastodon mx-2"></i>Mastodon</a>
    </div>
</div>