<footer>
    <div id="footer-home">
        <a href="/" title="Home is where our story begins…"><img
                src="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/android-chrome-192x192.png"
                width="52" height="52" alt="Home is where our story begins…"></a>
    </div>

    <p>
        {% include bar-nav.html %}
    </p>

    <p>
        {% include bar-social-nav.html %}
    </p>

    <p>
        © <span id="currentyear"></span> Ayush Sharma // <a href="{{ site.content.blog_source_code }}"
            target="_blank">source</a> // <a href="{{ site.content.blog_subscribe }}" target="_blank">subscribe</a> //
        <a href="{{ site.content.blog_contact }}" target="_blank">contact</a>
        <script>
            let date = new Date().getFullYear();
            document.getElementById("currentyear").textContent = date;
        </script>
    </p>
</footer>