<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ site.title | escape }}{% if page.title %}{{ page.title | prepend: " - " | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.title }}" />

	<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url | replace:'index.html','' }}">

	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16"
		href="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/favicon-16x16.png">
	<link rel="manifest"
		href="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/site.webmanifest">
	<link rel="mask-icon"
		href="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/safari-pinned-tab.svg"
		color="#5bbad5">
	<link rel="shortcut icon"
		href="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config"
		content="{{ site.meta-images-path | prepend: site.baseurl | prepend: site.url }}favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<meta name="apple-mobile-web-app-title" content="{% if page.title %}{{ page.title | append: "
		- " | escape }}{% endif %}{{ site.title | escape }}">
	<meta name="application-name" content="{% if page.title %}{{ page.title | append: "
		- " | escape }}{% endif %}{{ site.title | escape }}">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ "/css/simple.css" | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" href="{{ "/css/my.css" | prepend: site.baseurl | prepend: site.url }}">

	<!-- OG tags -->
	<meta property="og:site_name" content="{{ site.title | escape }}" />
	<meta property=“og:title” content=“{% if page.title %}{{ page.title | append: " - " | escape }}{% endif %}{{
		site.title | escape }}" />
	<meta property="og:description"
		content="{{ blog_desc }}" />
	<meta property="og:url"
		content="{{ page.url | prepend: site.baseurl | prepend: site.url | replace:'index.html','' }}" />
	<meta property="og:type" content="{% if page.desc %}article{% else %}website{% endif %}" />
	{% if page.banner_img %}
	<meta property="og:image"
		content="{{ page.banner_img | prepend: site.content-images-path | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:image:secure_url"
		content="{{ page.banner_img | prepend: site.content-images-path | prepend: site.baseurl | prepend: site.url }}" />
	{% endif %}

</head>