<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% include head.html %}

<header>
  {% include header.html %}
</header>

<body>
  <main>
    {{ content }}
  </main>
</body>

{% include footer.html %}

</html>