---
layout: page
---
<article itemscope itemtype="http://schema.org/BlogPosting">
    <!-- Article header -->
    <p>
        {{ page.excerpt }}
    </p>
    {% if page.banner_img %}
    <img src="{{ page.banner_img | prepend: site.content-images-path | prepend: site.baseurl | prepend: site.url }}"
        alt="Banner image for {{ page.title }}" />
    {% endif %}
    
    <!-- Article content -->
    <div id="article-body" itemprop="articleBody">
        {{ content }}
    </div>
    
    <section>
        <!-- Article series footer -->
        {% if page.is_series == true %}
            <h3 class="text-success p-3 pb-0">{{ page.series_title | upcase }} series</h3>
            <ol>
            {% assign posts = site.posts | where: "is_series", true | where: "series_title", page.series_title | sort: 'date' %}
            {% for post in posts %}
            {% if post.title == page.title %}
            <li>{{ post.title }}</li>
            {% else %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
        {% endif %}

        <!-- Article secondary bar -->
        <div>
            <p>
                {% if page.previous %}
                <small class="muted">← previous post<br /><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></small>{% endif %}
            </p>
            <p>    
                {% if page.next %}<small class="muted">next post →<br /><a href="{{ page.next.url }}">{{ page.next.title }}</a></small>{% endif %}
            </p>
            <p>
            <p>
                {% include bar-secondary.html cat=page.Category cat-email=site.content.blog_subscribe post-num=page.number post-date=page.date %}
            </p>
        </div>

    </section>

</article>